<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12">
		  Contact: VO Minh Duc <br />
		  SB Intuitions<br />
		  1 Chome-7-1 Kaigan, Minato City, Tokyo 105-7590<br />
		  Email: vmduc[dot]work [at]gmail [dot]com<br />
            (<a href="https://maps.app.goo.gl/W133UXaGFs4ngFBB9">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
