<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="color:#cbd5e1; font-size:14px; line-height:1.9;">
          <strong style="color:#fff;">VO Minh Duc</strong> &nbsp;·&nbsp; SB Intuitions<br />
          1 Chome-7-1 Kaigan, Minato City, Tokyo 105-7590<br />
          📧 vmduc[dot]work [at] gmail [dot] com &nbsp;·&nbsp;
          <a href="https://maps.app.goo.gl/W133UXaGFs4ngFBB9" style="color:#7dd3fc;">📍 Maps</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
