<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">VMD@SB Intuitions</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		    🌐 Community <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu community-dropdown">
		    <li>
		      <a href="https://lava-workshop.github.io" target="_blank" rel="noopener">
		        <span class="comm-icon">🏆</span>
		        <span class="comm-text">
		          <strong>LAVA Challenge</strong>
		          <small>Grand Challenge · ACM MM 2026</small>
		        </span>
		      </a>
		    </li>
		    <li role="separator" class="divider"></li>
		    <li>
		      <a href="https://vominhduc.github.io/vjai-paper-hub/" target="_blank" rel="noopener">
		        <span class="comm-icon">📖</span>
		        <span class="comm-text">
		          <strong>VJAI Paper Hub</strong>
		          <small>Bi-weekly reading · VN &amp; JP</small>
		        </span>
		      </a>
		    </li>
		    <li role="separator" class="divider"></li>
		    <li>
		      <a href="https://www.vjaihackathon.com" target="_blank" rel="noopener">
		        <span class="comm-icon">💻</span>
		        <span class="comm-text">
		          <strong>VJAI Hackathon</strong>
		          <small>Annual hackathon · VN &amp; JP</small>
		        </span>
		      </a>
		    </li>
		  </ul>
		</li>
	  </ul>
	</div>
  </div>
</div>
