<div class="news-card">
  <div class="news-header">
    <span class="news-icon">📰</span>
    <h4>Latest News</h4>
  </div>
  <div class="news-list">
    {% assign sorted_news = site.data.news | sort: "sortdate" | reverse %}
    {% for article in sorted_news limit:6 %}
    <div class="news-item">
      <span class="news-date"><b>{{ article.date }}</b></span>
      <div class="news-headline">{{ article.headline | markdownify }}</div>
    </div>
    {% endfor %}
  </div>
  <a href="{{ site.url }}{{ site.baseurl }}/allnews.html" class="news-more-link">View all news →</a>
</div>
